* {
    padding: 0;
    margin: 0;
}

:root {
    --parent-margin: 15px 15px 40px;
    --icon-margin: 25px;

}

html, body {
    height: 100vh;
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.75fr 6fr;
    grid-template-rows: 1.5fr 6fr;
}

.header {
    background-color: darkgoldenrod;
    grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
    background-color: darkseagreen;
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar > * {
    margin: var(--parent-margin);
}

.sidebar .logo {
    height: 40px;
    background-color: red;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li{
    margin-bottom: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
}

.logo p {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.material-icons {
    margin-right: var(--icon-margin);
}

.main {
    background-color: royalblue;
    grid-area: 2 / 2 / 3 / 3;

}