* {
    padding: 0;
    margin: 0;
}

:root {
    --parent-margin: 15px;
    --icon-margin: 25px;
    --primary-clr: white;
    --secondary-clr: rgb(62, 203, 128);
    --tertiary-clr: darkgreen;
    --background-clr: rgb(183, 183, 183);

}

html, body {
    height: 100%;
    font-family: sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    grid-template-rows: 1.5fr 6fr;
}

.header {
    background-color: var(--primary-clr);
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1.5fr;
}

.avatar {
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 50%;
    width: auto;
    height: auto;
}

.header > div {
    display: flex;
    margin: var(--parent-margin);
    align-items: center;
}

.header .notifications > *, .header .user-info .greeting {
    padding: 0px 10px;
}

.header .buttons button {
    padding: 10px 12px;
    font-weight: 800;
    border: none;
    border-radius: 15px;
    margin-right: 15px;
    background-color: var(--secondary-clr);
}

.search input {
    width: 80%;
}

.search i {
    font-size: 1.5rem;
}

.sidebar {
    background-color: var(--secondary-clr);
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar > * {
    margin: var(--parent-margin);
}

.sidebar .logo {
    height: 40px;
    margin-bottom: 20px;
}

.sidebar .logo i {
    margin-right: 15px;
}

.sidebar ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

.sidebar ul li{
    margin-bottom: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
}

.sidebar .subnav {
    margin-top: 80px;
}

.logo p {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

li .material-icons {
    margin-right: var(--icon-margin);
}

.main {
    background-color: var(--background-clr);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.main > * {
    margin: var(--parent-margin);
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--background-clr);
    padding: 10px;
}

.project-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.project {
    border-left: 5px solid var(--tertiary-clr);
    padding: 10px;
    background-color: var(--primary-clr);
}

.project div {
    display: flex;
    justify-content: end;
}

.project div i {
    padding: 5px;
}

.anouncements {
    background-color: var(--primary-clr);
    grid-area: 1 / 2 / 2 / 3;
    padding: 10px;
}

.anouncements > h4, .anouncements p {
    padding: 10px;
}

.trending {
    background-color: var(--primary-clr);
    grid-area: 2 / 2 / 3 / 3;
    padding: 10px;
}

.trends {
    display: flex;
    padding: 10px;
    align-items: center;
}

.trends div {
    margin-left: 15px;
}

.trends i {
    border-radius: 50%;
}